$background-color: 		#303338;

$black:					#f8f8f2;
$white:					#2A2D32;

$grey-color-darker: 	#eee;
$grey-color-dark: 		#ddd;
$grey-color-normal: 	#aaa;
$grey-color-light: 		#666;
$grey-color-lighter: 	#333;
$grey-color-lightest: 	#111;

$primary-color:			#ED6E3B;

$facebook-brand-color:	#3b5998;
$twitter-brand-color:	#55acee;

$default-width:			1100px;
$on-tablet:				768px;
$on-smaller-tablets:    640px;
$on-phone:				480px;

$burger-cell-height:    2px;
